<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car Fleet</title>
  <link rel="stylesheet" href="./style/car-fleet.css">
</head>
<body>
  <div class="container">
    <h1>
      CAR FLEET
    </h1>
    <p>
      Find the right Toyota fleet solution for your business needs. 
      We offer flexible payment options and an extensive range of vehicles to choose from.
    </p>
    <img src="../images/carfleet.webp" alt="">
  </div>
</body>
</html>