<footer> 
  <div class="footer-service">
    <div>
      <ul>
        <li>
          <a href="">Car Fleet</a>
        </li>
        <li>
          <a href="">Booking</a>
        </li>
      </ul>
    </div>
    <div>
      <ul>
        <li>
          <a href="">Pricing and Offers</a>
        </li>
        <li>
          <a href="">FAQ</a>
        </li>
        <li>
          <a href="">Contact Us </a>
        </li>
      </ul>
    </div>
    <div class="join-us">
      <h3>Join Us</h3>
      <div>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-messenger"></i></a>
        <a href=""><i class="bi bi-telegram"></i></a>
        <a href=""><i class="bi bi-youtube"></i></a>
      </div>
    </div>
  </div>
  <p>&copy; 2022 Car Rental. All rights reserved.</p>
</footer>