<header>
  <nav>
    <div>
      <a href="/">
        <img src="../images/white-logo.png" alt="Logo" class="logo">
      </a>
      <ul>
        <li>
          <a href="/manage-booking">
            <i class="bi bi-car-front-fill"></i> Manage Booking
          </a>
        </li>
        <li>
          <button data-toggle="modal" data-target="#loginModal" class="btn-login">
            <i class="glyphicon glyphicon-user"></i> Login | Register
          </button>
        </li>
      </ul>
    </div>
  </nav>
</header>
